{% load static %}


<link href="{% static 'slidervid/css/normalize.css" rel="stylesheet' %}" type="text/css" />
<link href="{% static 'slidervid/css/style.css' %}" rel="stylesheet" type="text/css" />





<div id="hero">


      <div class="texture"></div>

            <video
                  loop
                  muted
                  autoplay
                  preload="auto"
            >
                  <source src="{% static 'images/videobackground2.mp4' %}" type="video/mp4">
                  Tu navegador no soporta el video  
            </video>



            <div class="caption">

                  <h1>Universidad Cesmag</h1>
                  <h2>Hombres nuevos para tiempos nuevos</h2>

            </div>

      </div>
</div>



<script type="text/javascript" src="{% static 'slidervid/js/object-fit-videos.js' %}"></script>