.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}

.texto-encima{
    position: absolute;
    top: 55%;
    left: 55%;
}
.centrado{
    position: absolute;
    top: 70%;
    left: 40%;
    transform: translate(-50%, -50%);
    /*font-size: 35px;*/
    font-size: 3vw;
    text-align: left;
    font-weight: 400;
    line-height: 0.85;
    color: #ffffff;
}
.abajo{
    position: absolute;
    top: 85%;
    left: 7%;
    color:#ffffff;
}
.botonmenu {
    background-color:transparent;
    border-radius:42px;
    border:1px solid #ffffff;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size: 1vw;
    padding:4px 19px;
    text-decoration:none;
}
.botonmenu:hover {
    background-color:#ffffff;
    color:#000000;
}
.botonmenu:active {
    position:relative;
    top:1px;
}
.enlace{
    
    color:#ffffff;
    display:inline-block;
    cursor:pointer;
    text-decoration:none;
    font-size: 1vw;
}
.enlace:hover{
color:#bd1622
}