{% extends 'layouts/layout.html' %}

{% block title %}{{category.name}}{% endblock title %}

{% block content %}
    
    <div id="content"> <!-- Content -->
        <div class="page-title">
            <div class="container">
                <div class="page-title-inner" style="padding-left: 150px;">
                    <h3>{{category.name}} - {{category.description}}</h3>
                    <div class="breadcumb"> <a href="">Home</a><span> / </span><span>{{category.name}}</span></div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="blog">
                <div class="row">
                    <div class="col-md-8 blog-content">
                        <div class="row">
                            {% include 'articles/articles.html' %}                            
                        </div>
                        
                        {% comment 'paginador' %}                        
                            <nav>
                                <div class="pag-center">
                                    <ul class="pagination believe-pag">
                                        
                                        <li class="active"><span>1</span></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        
                                        
                                    </ul>
                                </div>
                            </nav>
                        {% endcomment %}
                        
                    </div>
                    <div class="col-md-4 sidebar">
                        <div class="sidebar-inner">
                            <div class="search-widget">
                                <h4>Buscar</h4>
                                <form class="side-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control search-wid" placeholder="Escribe los terminos de busqueda" aria-describedby="basic-addon3">
                                        <a href="" class="input-group-addon btn-side-serach" id="basic-addon3"><i class="fa fa-search"></i></a>
                                    </div>
                                </form>
                            </div>
                            <div class="side-recent">
                                <h4>Entradas recientes</h4>
                                {% for recentPost in recentPosts %}
                                    <div class="side-recent-ct">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <a href="{% url 'article' recentPost.id %}"><img src="{{recentPost.image.url}}" width="200" height="100" alt="{{recentPost.title}}"></a>
                                            </div>
                                            <div class="col-md-6">
                                                <h5><a href="{% url 'article' recentPost.id %}">{{recentPost.title}}</a></h5>
                                                <div class="meta">{{recentPost.created_at|date:"M d, Y"}}<span>|</span>Fecha inicio {{recentPost.dateStartEvent|date:"d M Y"}} - Fecha fin {{recentPost.dateFinishEvent|date:"d M Y"}} | Hora {{recentPost.timeStartEvent}}</div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                                                        
                            <div class="blog-side-cat">
                                <h4>Categorias</h4>
                                <ul class="blog-cat-list">
                                    {% for category in categorias %}
                                        <li><a href="{% url 'category' category.id %}">{{category.name}}</a></li>
                                    {% endfor %}                                     
                                </ul>
                                  
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- Content -->
    
{% endblock content %}