{% extends 'layouts/layout.html' %}

{% block content %}

<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-12 wow fadeIn" data-wow-delay="0.5s">
                <br>
                <br>
                <br>
                <br>
                {{title}}<br>
                {{persona.cedula}}<br>
                {{persona.Nombre}}<br>
            </div>
        </div>
    </div>
</div>

{% endblock %}